:root{

}

body{
    font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a{
    margin:10px 10px;
}

.getintouch-button{
    
    padding: 10px 10px;
    color: aliceblue;
    background-color: rgb(13,12,34);
    border: solid 2px rgb(13,12,34);
    border-radius: 20px;
    font-size: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    border: 2px solid green;
}


/* .section-header{ */
    /* flex-direction: row; */
    /* justify-content: space-between; */
/* } */

.header-left{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.header-center{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.header-right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.figura-circular{
    border-radius: 50%;
}

.iconos{
    border: 3px solid rgb(235,235,236);
    padding: 12px;
    
}

.foto-desarrollador{
    height: 50px;
    width: 50px;
}


section{
    border: 2px solid red;
    margin: 5px 0px;
}

.section-1{
    background-color: RGB(170 187 204);
    padding: 30px 40px;
}

footer{
    margin: 10px 0px;
    border: 2px blue solid;
}

div{
    border: 2px black solid;
}

