:root{

}

body{
    font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    
}

a{
    margin:10px 10px;
}

.getintouch-button{
    padding: 10px 10px;
    color: aliceblue;
    background-color: rgb(13,12,34);
    border: solid 2px rgb(13,12,34);
    border-radius: 20px;
    font-size: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid green; */
    /* padding: 0% 10%; */
}

.header-left{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 10%;
}

.header-2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.header-right{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    margin-right: 10%;
}

.figura-circular{
    border-radius: 50%;
}

.central-img{
    border-radius: 10px;
    width:100%
}

.vertical-icons{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8%;
    right: 0%;
    flex: 1 100;
}

.contenedor-iconos{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(235,235,236);
    padding: 8px;
    margin: 10px 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.icon-color{
    color: rgb(13,12,34);
}

.foto-desarrollador{
    height: 70px;
    width: 70px;
}

.foto-desarrollador-grande{
    height: 100px;
    width: 100px;
}

section{
    border: 2px solid red;
    margin: 5px 0px;
}

.central-section{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.central-img-div{
    display: flex;
    background-color: rgb(206,214,240);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 20px 10% 10px 10%;
    padding: 10% 5%;
    flex: 20 0;
}

.foto-line{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    margin: 10px 0px;
    border: 2px blue solid;
}

div{
    border: 2px black solid;
}

.div-con-linea{
    display: flex;
}

.line-left, .line-right {
    flex-grow: 1;
    height: 0px;
    color: rgb(231,231,233); /* Puedes cambiar el color si lo deseas */
    align-self: center;
}

.line-left {
    margin-right: 10px; /* Ajusta el margen según sea necesario */
    margin-left: 100px;
}

.line-right {
    margin-left: 10px; /* Ajusta el margen según sea necesario */
    margin-right: 100px;
}

