*{
    padding: 0px;
    margin: 0px;
}

a{
    margin:10px 10px;
}

header{
    border: 2px solid green
}


section{
    border: 2px solid red;
    margin: 5px 0px;
}

.section-1{
    background-color: RGB(170 187 204);
    padding: 30px 40px;
}

footer{
    margin: 10px 0px;
    border: 2px blue solid;
}

